<%= form_for(@voivodship_committee) do |f| %>
  <% if @voivodship_committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voivodship_committee.errors.count, "error") %> prohibited this voivodship_committee from being saved:</h2>

      <ul>
      <% @voivodship_committee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :committee %><br />
    <%= f.text_field :committee %>
  </div>
  <div class="field">
    <%= f.label :voivodship %><br />
    <%= f.text_field :voivodship %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
