<p id="notice"><%= notice %></p>

<p>
  <b>Number of votes:</b>
  <%= @vote.number_of_votes %>
</p>

<p>
  <b>Electoral district:</b>
  <%= @vote.electoral_district %>
</p>

<p>
  <b>Committee:</b>
  <%= @vote.committee %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
